.tests {
  &__subtitle {
    margin-bottom: 50px;
    max-width: 420px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 33px;
  }

  &__play {
    @include absolute-center;

    z-index: 2;
  }

  &__item {
    display: flex;
    flex-direction: column;
    color: $g1-color;

    p {
      margin-bottom: 33px;
      font-size: 14px;
      line-height: 1.4;
    }
  }

  &__name {
    margin-bottom: 13px;
    font-family: "AlumniSans", sans-serif;
    font-weight: 700;
    font-size: 26px;
  }

  &__preview {
    position: relative;
    margin-bottom: auto;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 13px;
      width: 100%;
      height: 100%;
      background-color: rgba($black-color, 0.55);
    }

    img {
      border-radius: 13px;
    }
  }
}
