.section-title {
  margin-bottom: 22px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 55px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $g1-color;

  span {
    text-transform: none;
  }
}

.section-subtitle {
  font-size: 20px;
  line-height: 1.4;
  color: $g1-color;
}

.block-title {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  line-height: 1.4;
  text-transform: uppercase;
}

.color-accent {
  color: $accent-color;
}

.color-white {
  color: $light-color;
}

.text-medium {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}
