<section class="compare section-offset" id="compare">
  <div class="container">
    <div class="compare__inner">
      <h2 class="section-title centered">CДЕЛАЕТ РАБОТУ НА 30% БЫСТРЕЕ </h2>
      <p class="compare__subtitle section-subtitle centered">Краткий тест на 3-5 минут быстрее, <br>
        чем&nbsp;на MaxiSys MS906BT</p>
      <div class="compare__table">
        <table>
          <tr>
            <td class="compare__table-title">ХАРАКТЕРИСТИКИ</td>
            <td>
              <picture>
                <source srcset="img/characteristics-2.webp 1x, img/characteristics-2@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/characteristics-2.png"
                  srcset="img/characteristics-2.png 1x, img/characteristics-2@2x.png 2x" width="218" height="146"
                  alt="MS906 Pro">
              </picture>
            </td>
            <td>
              <picture>
                <source srcset="img/ms906pro.webp 1x, img/ms906pro@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/ms906pro.png" srcset="img/ms906pro.png 1x, img/ms906pro@2x.png 2x"
                  width="196" height="123" alt="ms906pro">
              </picture>
            </td>
          </tr>
          <tr>
            <td>Конфигурация планшета</td>
            <td class="compare__table-title color-accent">MS906BT</td>
            <td class="compare__table-title color-accent">MS906 Pro</td>
          </tr>
          <tr>
            <td>Процессор</td>
            <td>
              <div class="compare__desc-item text-medium">Qualcomm 660</div>
              <div class="compare__desc-item">2.3GHz + 1.7GHz</div>
              <div class="compare__desc-item">OCTA - CORE</div>
            </td>
            <td>
              <div class="compare__desc-item text-medium">Samsung Exynos</div>
              <div class="compare__desc-item">1.3GHz +1.7GHz</div>
              <div class="compare__desc-item">HEXA - CORE</div>
            </td>
          </tr>
          <tr>
            <td>Объем памяти</td>
            <td>128GB SDD</td>
            <td>64GB SSD</td>
          </tr>
          <tr>
            <td>Оперативная память</td>
            <td>4GB RAM</td>
            <td>2GB RAM</td>
          </tr>
          <tr class="compare__table-bottom">
            <td class="compare__table-empty">
              <div class="compare__table-title">Результат:</div>
              <div class="compare__table-sm">Время краткого теста на Mercedes E212</div>
            </td>
            <td class="compare__table-empty compare__table-title color-white">3 мин 50 сек</td>
            <td class="compare__table-empty compare__table-title color-white">3 мин 12 сек</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
