<section class="settings section-offset" id="settings">
  <div class="container container--sm">
    <div class="settings__inner">
      <h2 class="section-title centered">ПОЗВОЛИТ РАБОТАТЬ С ECU и <br> НАСТРОЙКАМИ ПОЛЬЗОВАТЕЛЕЙ</h2>
      <p class="settings__subtitle section-subtitle centered">Инструменты для штатной работы с блоками управления</p>
      <div class="settings__main">
        <div class="settings__col">
          <div class="settings__list-item">
            <div class="settings__list-num">01/</div>
            <div class="settings__list-text">Code cloud backup</div>
          </div>
          <div class="settings__list-item">
            <div class="settings__list-num">02/</div>
            <div class="settings__list-text">Backup/Restore vehicle <br> individual coding data</div>
          </div>
        </div>
        <div class="settings__col settings__img">
          <picture>
            <source srcset="img/settings.webp 1x, img/settings@2x.webp 2x" type="image/webp">
            <img loading="lazy" src="img/settings.png" srcset="img/settings.png 1x, img/settings@2x.png 2x" width="524"
              height="380" alt="autel">
          </picture>
        </div>
        <div class="settings__col">
          <div class="settings__list-item">
            <div class="settings__list-num">03/</div>
            <div class="settings__list-text">Backup/Restore Software Calibration Number (SCN) code</div>
          </div>
          <div class="settings__list-item">
            <div class="settings__list-num">04/</div>
            <div class="settings__list-text">Cheat coding (BMW) <br> и Retrofit (Mercedes).</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="settings__footer">
    <div class="container">
      <div class="settings__footer-title">Какие работы вы сможете выполнять самостоятельно?</div>
      <ul class="settings__items">
        <li class="settings__item">
          <div class="settings__icon">
            <img src="img/shuffle-icon.svg" width="20" height="20" alt="">
          </div>
          <div class="settings__item-text">Замена блоков <br> управления</div>
        </li>
        <li class="settings__item">
          <div class="settings__icon">
            <img src="img/settings-icon.svg" width="24" height="24" alt="">
          </div>
          <div class="settings__item-text">Изменения  <br> пользовательских <br> настроек</div>
        </li>
        <li class="settings__item">
          <div class="settings__icon">
            <img src="img/settings-2-icon.svg" width="24" height="24" alt="">
          </div>
          <div class="settings__item-text">Изменения заводских кодировочных данных (комплектация)</div>
        </li>
        <li class="settings__item">
          <div class="settings__icon">
            <img src="img/wrench-accent-icon.svg" width="24" height="24" alt="">
          </div>
          <div class="settings__item-text">Восстанавливать базовые кодировочные данные при необходимости</div>
        </li>
      </ul>
    </div>
  </div>
</section>
