<section class="study section-offset" id="study">
  <div class="container">
    <div class="study__inner">
      <h2 class="section-title centered">Обучение в лаборатории BRAINSTORM</h2>
      <p class="study__subtitle section-subtitle centered">Поможем разобраться с функциями прибора</p>
      <div class="study__content">
        <div class="study__img">
          <picture>
            <source srcset="img/study.webp 1x, img/study@2x.webp 2x" type="image/webp">
            <img loading="lazy" src="img/study.jpg" srcset="img/study.jpg 1x, img/study@2x.jpg 2x" width="852"
              height="567" alt="Обучение в лаборатории BRAINSTORM">
          </picture>
        </div>
        <ul class="study__items">
          <li class="study__item">
            <div class="study__item-inner">
              <div class="study__name"><span>2</span> модуля</div>
              <p>Практических занятий на&nbsp;реальном автомобиле</p>
            </div>
          </li>
          <li class="study__item">
            <div class="study__item-inner">
              <div class="study__name"><span>16</span> часов тренинга</div>
              <p>с техническим экспертом BRAINSTORM</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
