<section class="trust section-offset">
  <div class="container container--lg">
    <div class="trust__inner">
      <div class="trust__info">
        <h2 class="section-title">Доверие автомобильного сообщества</h2>
        <p class="section-subtitle">Награды и премии</p>
      </div>
      <ul class="trust__items">
        <li class="trust__item">
          <div class="trust__img">
            <picture>
              <source srcset="img/trust-1.webp 1x, img/trust-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/trust-1.png" srcset="img/trust-1.png 1x, img/trust-1@2x.png 2x" width="106" height="148" alt="reddot">
            </picture>
          </div>
          <div class="trust__name">Международная премия <br> I PRODUCT DESIGN AWARD</div>
        </li>
        <li class="trust__item">
          <div class="trust__img">
            <picture>
              <source srcset="img/trust-2.webp 1x, img/trust-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/trust-2.png" srcset="img/trust-2.png 1x, img/trust-2@2x.png 2x" width="242" height="298" alt="Золотой ключ 2018">
            </picture>
          </div>
          <div class="trust__name">Золотой ключ 2018</div>
        </li>
        <li class="trust__item">
          <div class="trust__img">
            <picture>
              <source srcset="img/trust-3.webp 1x, img/trust-3@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/trust-3.png" srcset="img/trust-3.png 1x, img/trust-3@2x.png 2x" width="242" height="298" alt="Золотой ключ 2021">
            </picture>
          </div>
          <div class="trust__name">Золотой ключ 2021</div>
        </li>
      </ul>
    </div>
  </div>
</section>
