<section class="complect section-offset">
  <div class="container">
    <div class="complect__inner">
      <h2 class="section-title centered">94 марки в базовому комплекті</h2>
      <p class="complect__subtitle section-subtitle centered">Прилад підтримує роботу з усіма основними марками на ринку</p>
      <ul class="complect__list">
        <li class="complect__item">
          <div class="complect__name">Європа</div>
          <p>EU Ford, Renault, Abarth, Alfa Romeo, Bugatti, Opel, Vauxhall, Saab, Land Rover, Jaguar, Mercedes Benz, Mercedes Benz
          Sprinter, Maybach, Smart, Porsche, Volvo, VW, Audi, Bentley, Seat, Skoda, Lancia, Lamborghini, BMW, MINI, VW CV,
          Citroen, VW LT3, Dacia, Rolls-Royce, Fiat, Peugeot, Aston Martin, Maserati, Ferrari, Iveco LD, MAN LD, DS.</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">Японія та Південна Корея</div>
          <p>Honda, Suzuki, Isuzu, Acura, Nissan, Infiniti, Toyota, Lexus, Scion, Mitsubishi, Subaru, Daihatsu, Mazda; Nissan GTR,
          Fuso, HINO, UD, Hyundai, Kia, SsangYong, Daewoo, Hyundai CV, Samsung</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">Китай</div>
          <p>Byd, Chery, Geely, Brilliance, Great Wall, Foton, Borgward, MG, DFSK, Zotye, Emgrand, LDV, Saicmg, BAIC Motor, BAIC
          Senova, DFFG, Jac</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">США</div>
          <p>Chrysler, Jeep, GM, Dodge, Ford</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">СНД</div>
          <p>ВАЗ, ГАЗ, ИЖ, КАМАЗ, МАЗ, ПАЗ, СеАЗ,&nbsp;УАЗ,&nbsp;ЗАЗ</p>
        </li>
      </ul>
      <div class="centered">
        <a href="https://www.auteltech.com/vehicle-coverage/coverage2" target="_blank" class="btn">таблиці застосовності автосканера</a>
      </div>
    </div>
  </div>
</section>
