<section class="examples section-offset" id="examples">
  <div class="container container--sm">
    <div class="examples__inner">
      <h2 class="section-title centered">Нові функції кодування ECU</h2>
      <p class="examples__subtitle section-subtitle centered">Приклади для марок BMW та Mercedes Benz</p>
      <ul class="examples__list cards__list">
        <li class="cards__item">
          <div class="cards__item-inner">
            <div class="cards__icon">
              <img src="img/lock-icon.svg" width="32" height="32" alt="lock">
            </div>
            <div class="cards__info">
              <div class="cards__name">підтримка кодування <br> BMW 3 та 4 серії</div>
              <p>У кузовах G22, G23, G26, G42, G80, G82, G83</p>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="cards__item-inner">
            <div class="cards__icon">
              <img src="img/car-police-icon.svg" width="32" height="32" alt="car">
            </div>
            <div class="cards__info">
              <div class="cards__name">підтримка функцій <br> Retrofit</div>
              <p>Mercedes Benz CLS 218</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="centered">
        <!-- <button class="btn" data-video-src="video/examples.mp4" data-video-trigger data-modal-open="modal-video">смотреть видео</button> -->
        <button class="btn">Переглянути відео</button>
      </div>
    </div>
  </div>
</section>
