<section class="garanty section-offset" id="garanty">
  <div class="container">
    <div class="garanty__inner">
      <h2 class="section-title centered">Підтримка і гарантія</h2>
      <p class="garanty__subtitle section-subtitle centered">Технічна, гарантійна та постгарантійна підтримка</p>
      <ul class="garanty__list">
        <li class="garanty__item">
          <div class="garanty__img">
            <picture>
              <source srcset="img/support-1.webp 1x, img/support-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/support-1.jpg" srcset="img/support-1.jpg 1x, img/support-1@2x.jpg 2x" width="232" height="164" alt="Європейська гарантія">
            </picture>
          </div>
          <div class="garanty__name">Європейська гарантія</div>
          <p>2 роки гарантії від AUTEL <br> EUROPE</p>
        </li>
        <li class="garanty__item">
          <div class="garanty__img">
            <picture>
              <source srcset="img/support-2.webp 1x, img/support-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/support-2.jpg" srcset="img/support-2.jpg 1x, img/support-2@2x.jpg 2x" width="232" height="164" alt="Віддалена діагностика">
            </picture>
          </div>
          <div class="garanty__name">Віддалена діагностика</div>
          <p>Перевіримо віддалено через TeamViewer систему у випадку перебоїв</p>
        </li>
        <li class="garanty__item">
          <div class="garanty__img">
            <picture>
              <source srcset="img/support-3.webp 1x, img/support-3@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/support-2.jpg" srcset="img/support-3.jpg 1x, img/support-3@2x.jpg 2x" width="232" height="164" alt="Сервисні центри">
            </picture>
          </div>
          <div class="garanty__name">Сервисні центри</div>
          <p>11 сервісних центрів в СНД готові оперативно надати підтримку</p>
        </li>
      </ul>
    </div>
  </div>
</section>
