<section class="hero section-offset">
  <div class="container">
    <div class="hero__inner">
      <h1 class="hero__title section-title centered">Лінійка автосканерів <span>MaxiSys</span>&nbsp;MS906</h1>
      <p class="hero__subtitle centered">Для професійних постів автодіагностики</p>
      <div class="hero__img">
        <picture>
          <source srcset="img/hero-items.webp 1x, img/hero-items@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/hero-items.png" srcset="img/hero-items.png 1x, img/hero-items@2x.png 2x"
            width="993" height="577" alt="Линейка автосканеров MaxiSys MS906">
        </picture>
      </div>
      <div class="hero__img-mob">
        <picture>
          <source srcset="img/hero-items-mob.webp" type="image/webp">
          <img loading="lazy" src="img/hero-items-mob.png" srcset="img/hero-items-mob.png" width="365"
            height="216" alt="Линейка автосканеров MaxiSys MS906">
        </picture>
      </div>
      <div class="hero__items">
        <div class="hero__item">MaxiSys MS906S</div>
        <div class="hero__item">MaxiSys MS906 Pro MAX</div>
        <div class="hero__item">MaxiSys MS906 Pro</div>
      </div>
      <div class="hero-benefits">
        <ul class="hero-benefits__list">
          <li class="hero-benefits__item">
            <div class="hero-benefits__icon">
              <img src="img/wrench-icon.svg" width="24" height="24" alt="wrench">
            </div>
            <div class="hero-benefits__text">На 30% продуктивніше за MaxiSys MS906BT</div>
          </li>
          <li class="hero-benefits__item">
            <div class="hero-benefits__icon">
              <img src="img/car-icon.svg" width="24" height="24" alt="car">
            </div>
            <div class="hero-benefits__text">Оновлені функції кодування ECU</div>
          </li>
          <li class="hero-benefits__item">
            <div class="hero-benefits__icon">
              <img src="img/check-circle-icon.svg" width="24" height="24" alt="check">
            </div>
            <div class="hero-benefits__text">Віддалений помічник REMOTE EXPERT</div>
          </li>
          <li class="hero-benefits__item">
            <div class="hero-benefits__icon">
              <img src="img/battery-icon.svg" width="24" height="24" alt="battery">
            </div>
            <div class="hero-benefits__text">Функції діагностики систем енергозабезпечення автомобілів</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
