<section class="partners section-offset" id="partners">
  <div class="container container--lg">
    <div class="partners__inner">
      <h2 class="partners__title section-title">Наші партнери</h2>
      <p class="partners__subtitle section-subtitle">Обирайте представника в вашому регіоні</p>
      <div class="partners__content" data-tabs-container>
        <ul class="partners__tabs">
          <li><a class="is-active" href="#" data-tabs-trigger data-tabs="0">Вся Україна</a></li>
          <li><a href="#" data-tabs-trigger data-tabs="1">Київ</a></li>
          <li><a href="#" data-tabs-trigger data-tabs="2">Ірпінь</a></li>
          <li><a href="#" data-tabs-trigger data-tabs="3">Вінниця</a></li>
          <li><a href="#" data-tabs-trigger data-tabs="4">Рівне</a></li>
          <li><a href="#" data-tabs-trigger data-tabs="6">Біла Церква</a></li>
          <li><a href="#" data-tabs-trigger data-tabs="7">Дніпро</a></li>
          <li><a href="#" data-tabs-trigger data-tabs="8">Львів</a></li>
        </ul>
        <div class="partners__tabs-content">
          <div class="partners__tabs-item is-active" data-show-more-parent data-tabs-content data-tabs="0">
            @include('partners-items.html')
            <div class="centered">
              <button class="btn-link" data-show-more data-more="Переглянути більше"
                data-less="Переглянути менше">Переглянути більше</button>
            </div>
          </div>
          <div class="partners__tabs-item" data-show-more-parent data-tabs-content data-tabs="1">
            <ul class="partners__items">
              <li class="partners__item">
                <div class="partners__name">ЕЛІТ-Україна </div>
                <ul class="partners__contacts">
                  <li>
                    <a href="tel:+380443894433">
                      <div class="partners__contacts-icon">
                        <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
                      </div>
                      <span>+38 (044) 389-44-33</span>
                    </a>
                  </li>
                  <li>
                    <a href="mailto:elit@elit.ua">
                      <div class="partners__contacts-icon">
                        <img src="img/email-icon.svg" width="13" height="13" alt="email">
                      </div>
                      <span>elit@elit.ua</span>
                    </a>
                  </li>
                </ul>
                <a class="partners__btn" href="https://www.ecat.ua/HomePage/Workshop" target="_blank">Перейти на
                  сайт</a>
              </li>
              <li class="partners__item">
                <div class="partners__name">iCarPC</div>
                <ul class="partners__contacts">
                  <li>
                    <a href="tel:+380963327020">
                      <div class="partners__contacts-icon">
                        <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
                      </div>
                      <span>+38 (096) 332-70-20</span>
                    </a>
                  </li>
                  <li>
                    <a href="mailto:mail@icarpc.com.ua	">
                      <div class="partners__contacts-icon">
                        <img src="img/email-icon.svg" width="13" height="13" alt="email">
                      </div>
                      <span>mail@icarpc.com.ua</span>
                    </a>
                  </li>
                </ul>
                <a class="partners__btn" href="https://icarpc.com.ua/" target="_blank">Перейти на сайт</a>
              </li>
              <li class="partners__item">
                <div class="partners__name">ЕСО-Автотехнікс</div>
                <ul class="partners__contacts">
                  <li>
                    <a href="tel:+380445360931">
                      <div class="partners__contacts-icon">
                        <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
                      </div>
                      <span> +38 (044) 536-09-31</span>
                    </a>
                  </li>
                  <li>
                    <div>
                      <div class="partners__contacts-icon">
                        <img src="img/email-icon.svg" width="13" height="13" alt="email">
                      </div>
                      <span>Форма зворотнього зв’язку на сайті</span>
                    </div>
                  </li>
                </ul>
                <a class="partners__btn" href="https://autotechnics.ua/" target="_blank">Перейти на сайт</a>
              </li>
              <li class="partners__item">
                <div class="partners__name">СПЕКТР ІНТЕР ГРУП</div>
                <ul class="partners__contacts">
                  <li>
                    <a href="tel:+380675040773">
                      <div class="partners__contacts-icon">
                        <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
                      </div>
                      <span>+38 (067) 504-07-73</span>
                    </a>
                  </li>
                  <li>
                    <div>
                      <div class="partners__contacts-icon">
                        <img src="img/email-icon.svg" width="13" height="13" alt="email">
                      </div>
                      <span>Форма зворотнього зв’язку на сайті</span>
                    </div>
                  </li>
                </ul>
                <a class="partners__btn" href="https://instrument-sto.com.ua/" target="_blank">Перейти на сайт</a>
              </li>
            </ul>
          </div>
          <div class="partners__tabs-item" data-show-more-parent data-tabs-content data-tabs="2">
            <ul class="partners__items">
              <li class="partners__item">
                <div class="partners__name">Scaner</div>
                <ul class="partners__contacts">
                  <li>
                    <a href="tel:+380990149931">
                      <div class="partners__contacts-icon">
                        <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
                      </div>
                      <span>+38 (099) 014-99-31</span>
                    </a>
                  </li>
                  <li>
                    <a href="tel:+380981029446">
                      <div class="partners__contacts-icon">
                        <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
                      </div>
                      <span>+38 (098) 102-94-46</span>
                    </a>
                  </li>
                  <li>
                    <a href="mailto:cartoolboxua@gmail.com">
                      <div class="partners__contacts-icon">
                        <img src="img/email-icon.svg" width="13" height="13" alt="email">
                      </div>
                      <span>cartoolboxua@gmail.com</span>
                    </a>
                  </li>
                </ul>
                <a class="partners__btn" href="https://scaner.com.ua/" target="_blank">Перейти на сайт</a>
              </li>
              <li class="partners__item">
                <div class="partners__name">Вікторія С</div>
                <ul class="partners__contacts">
                  <li>
                    <a href="tel:+380444676070">
                      <div class="partners__contacts-icon">
                        <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
                      </div>
                      <span> +38 (044) 467-60-70</span>
                    </a>
                  </li>
                  <li>
                    <a href="mailto:lotus_vs@ukr.net">
                      <div class="partners__contacts-icon">
                        <img src="img/email-icon.svg" width="13" height="13" alt="email">
                      </div>
                      <span>lotus_vs@ukr.net</span>
                    </a>
                  </li>
                </ul>
                <a class="partners__btn" href="https://svitsto.com.ua/" target="_blank">Перейти на сайт</a>
              </li>
            </ul>
          </div>
          <div class="partners__tabs-item" data-show-more-parent data-tabs-content data-tabs="3">
            <ul class="partners__items">
              <li class="partners__item">
                <div class="partners__name">Novotech</div>
                <ul class="partners__contacts">
                  <li>
                    <a href="tel:+380682282824">
                      <div class="partners__contacts-icon">
                        <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
                      </div>
                      <span>+38 (068) 228-28-24</span>
                    </a>
                  </li>
                  <li>
                    <div>
                      <div class="partners__contacts-icon">
                        <img src="img/email-icon.svg" width="13" height="13" alt="email">
                      </div>
                      <span>Форма зворотнього зв’язку на сайті</span>
                    </div>
                  </li>
                </ul>
                <a class="partners__btn" href="https://novatech-sto.com.ua/" target="_blank">Перейти на сайт</a>
              </li>
            </ul>
          </div>
          <div class="partners__tabs-item" data-show-more-parent data-tabs-content data-tabs="4">
            <ul class="partners__items">
              <li class="partners__item">
                <div class="partners__name">AVTODIAGNOST</div>
                <ul class="partners__contacts">
                  <li>
                    <a href="tel:+380686560704">
                      <div class="partners__contacts-icon">
                        <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
                      </div>
                      <span>+38 (068) 656-07-04</span>
                    </a>
                  </li>
                  <li>
                    <a href="mailto:gridox@gmail.com">
                      <div class="partners__contacts-icon">
                        <img src="img/email-icon.svg" width="13" height="13" alt="email">
                      </div>
                      <span>gridox@gmail.com</span>
                    </a>
                  </li>
                </ul>
                <a class="partners__btn" href="https://avtodiagnost.rv.ua/" target="_blank">Перейти на сайт</a>
              </li>
            </ul>
          </div>
          <div class="partners__tabs-item" data-show-more-parent data-tabs-content data-tabs="6">
            <ul class="partners__items">
              <li class="partners__item">
                <div class="partners__name">Автореспект</div>
                <ul class="partners__contacts">
                  <li>
                    <a href="tel:0456379820">
                      <div class="partners__contacts-icon">
                        <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
                      </div>
                      <span>04563 7-98-20</span>
                    </a>
                  </li>
                  <li>
                    <a href="tel:0505807744">
                      <div class="partners__contacts-icon">
                        <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
                      </div>
                      <span>050 580-77-44</span>
                    </a>
                  </li>
                  <li>
                    <a href="mailto:sk_avtorespect@ukr.net">
                      <div class="partners__contacts-icon">
                        <img src="img/email-icon.svg" width="13" height="13" alt="email">
                      </div>
                      <span>sk_avtorespect@ukr.net </span>
                    </a>
                  </li>
                </ul>
                <a class="partners__btn" href="https://stoavto.com.ua/" target="_blank">Перейти на сайт</a>
              </li>
            </ul>
          </div>
          <div class="partners__tabs-item" data-show-more-parent data-tabs-content data-tabs="7">
            <ul class="partners__items">
              <li class="partners__item">
                <div class="partners__name">Car Electro</div>
                <ul class="partners__contacts">
                  <li>
                    <a href="tel:+380969104105">
                      <div class="partners__contacts-icon">
                        <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
                      </div>
                      <span>+38 (096) 910-41-05</span>
                    </a>
                  </li>
                  <li>
                    <a href="mailto:4dmitriy@ua.fm">
                      <div class="partners__contacts-icon">
                        <img src="img/email-icon.svg" width="13" height="13" alt="email">
                      </div>
                      <span>4dmitriy@ua.fm</span>
                    </a>
                  </li>
                </ul>
                <a class="partners__btn" href="https://carelectro.com.ua/" target="_blank">Перейти на сайт</a>
              </li>
              <li class="partners__item">
                <div class="partners__name">Мотор Стейт</div>
                <ul class="partners__contacts">
                  <li>
                    <a href="tel:+380980334000">
                      <div class="partners__contacts-icon">
                        <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
                      </div>
                      <span>+38 (098) 033-40-00</span>
                    </a>
                  </li>
                  <li>
                    <a href="mailto:info@motorstate.com.ua">
                      <div class="partners__contacts-icon">
                        <img src="img/email-icon.svg" width="13" height="13" alt="email">
                      </div>
                      <span>info@motorstate.com.ua</span>
                    </a>
                  </li>
                </ul>
                <a class="partners__btn" href="https://motorstate.com.ua/" target="_blank">Перейти на сайт</a>
              </li>
            </ul>
          </div>
          <div class="partners__tabs-item" data-show-more-parent data-tabs-content data-tabs="8">
            <ul class="partners__items">
              <li class="partners__item">
                <div class="partners__name">Alt Index</div>
                <ul class="partners__contacts">
                  <li>
                    <a href="tel:+380963169990">
                      <div class="partners__contacts-icon">
                        <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
                      </div>
                      <span>+38 (096) 316-99-90</span>
                    </a>
                  </li>
                  <li>
                    <a href="mailto:alt_index@ukr.net">
                      <div class="partners__contacts-icon">
                        <img src="img/email-icon.svg" width="13" height="13" alt="email">
                      </div>
                      <span>alt_index@ukr.net</span>
                    </a>
                  </li>
                </ul>
                <a class="partners__btn" href="https://altindeks.com.ua/" target="_blank">Перейти на сайт</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
