<section class="tests section-offset">
  <div class="container">
    <div class="tests__inner">
      <h2 class="section-title"><span>MaxiBAS</span> BT506 (ОПЦіЯ)</h2>
      <p class="tests__subtitle section-subtitle">Тести всіх компонентів систем пуску ДВЗ та системи енергорозподілу</p>
      <ul class="tests__list">
        <li class="tests__item">
          <div class="tests__name">Тести АКБ на автомобілі</div>
          <p>Дозволять швидко оцінити стан АКБ, підключеної до системи енергорозподілу</p>
          <div class="tests__preview" data-video-src="video/tests-1.mp4" data-video-trigger data-modal-open="modal-video">
            <picture>
              <source srcset="img/test-preview-1.webp 1x, img/test-preview-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/test-preview-1.jpg" srcset="img/test-preview-1.jpg 1x, img/test-preview-1@2x.jpg 2x"
                width="339" height="196" alt="тесты">
            </picture>
            <div class="tests__play player-icon-sm">
              @include('../../img/play-circle-icon.svg')
            </div>
          </div>
        </li>
        <li class="tests__item">
          <div class="tests__name">Тести АКБ без автомобілю</div>
          <p>Дозволять швидко оцінити стан нової і б/в АКБ без підключення до автомобіля</p>
          <div class="tests__preview"  data-video-src="video/tests-1.mp4" data-video-trigger data-modal-open="modal-video">
            <picture>
              <source srcset="img/test-preview-2.webp 1x, img/test-preview-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/test-preview-2.jpg" srcset="img/test-preview-2.jpg 1x, img/test-preview-2@2x.jpg 2x"
                width="339" height="196" alt="тесты">
            </picture>
            <div class="tests__play player-icon-sm">
              @include('../../img/play-circle-icon.svg')
            </div>
          </div>
        </li>
        <li class="tests__item">
          <div class="tests__name">Тести систем пуску та заряджання</div>
          <p>Дозволять швидко виявити несправності компонентів систем</p>
          <div class="tests__preview"  data-video-src="video/tests-3.mp4" data-video-trigger data-modal-open="modal-video">
            <picture>
              <source srcset="img/test-preview-3.webp 1x, img/test-preview-3@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/test-preview-3.jpg" srcset="img/test-preview-3.jpg 1x, img/test-preview-3@2x.jpg 2x"
                width="339" height="196" alt="тесты">
            </picture>
            <div class="tests__play player-icon-sm">
              @include('../../img/play-circle-icon.svg')
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
